@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	font-family:'Raleway', sans-serif;
}

#top {
	padding: 5em;
	background-color: #00525F;
	color: white;
	text-align: left;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	width: 70%;
	margin: auto;
}

hr { 
	width: 100%;
	height: 3px; 
	background: #fff
}

#content {
	padding: 2.5em;
	margin-left: 25px;
	margin-right: 25px;
}


.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right  {
  color: black;
}

.carousel-indicators li {
	background-color: #B5B5B8;  
}

.carousel-indicators .active {
	background-color: #00525F;
}

#line {
	padding:0.5em;
	background-color: #DFD9B5;
}

img{
	max-width: 100%;
	height: auto;
}

footer {
	padding: 1em;
	background-color: #00525F;
	color: white;
}

#names {
	text-align: center;
}

